{% extends "index.html" %}
{% block title %}
    404 Not Found
{% endblock title %}
{% block meta %}
    <meta name="description" content="404 Not Found" />
    <meta property="og:site_name" content="andwati.com" />
    <meta property="og:locale" content="en-us" />
    <meta property="og:title" content="404 Not Found" />
    <meta property="og:description" content="404 Not Found" />
    <meta property="og:image" content="https://andwati.com/self.png" />
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:site" content="@andwati_" />
    <meta property="twitter:title" content="404 Not Found" />
    <meta property="twitter:description" content="404 Not Found" />
    <meta property="twitter:image" content="https://andwati.com/self.png" />
{% endblock meta %}
{% block links %}
{% endblock links %}
{% block content %}
    <main id="content">
        <header>
            404 Not Found
        </header>
        <p>Hmm...could not find that page</p>
    </main>
    {% include "footer.html" %}
{% endblock content %}
