{% extends "section.html" %}
{% import "post_macros.html" as post_macros %}
{% import "paginate.html" as paginate_macro %}
{% block content %}
    <main id="content">
        <header>
            <h1>Posts</h1>
        </header>
        {% for page in paginator.pages %}{{ post_macros::snippet(page=page) }}{% endfor %}
        <!--<div class="pagination">
            {% if paginator.previous %}<a href="{{ paginator.previous }}" class="page-item previous">Previous</a>{% endif %}
            {% if paginator.next %}<a href="{{ paginator.next }}" class="page-item  next">Next</a>{% endif %}
        </div>
-->
        {% if paginator %}{{ paginate_macro::paginate() }}{% endif %}
    </main>
    {% include "footer.html" %}
{% endblock content %}
