{% extends "index.html" %}
{% block meta %}
    <meta name="description" content="{{ section.description }}" />
    <meta property="og:site_name" content="andwati.com" />
    <meta property="og:locale" content="en-us" />
    <meta property="og:url" content="{{ section.permalink }}" />
    <meta property="og:title" content="{{ section.title }}" />
    <meta property="og:description" content="{{ section.description }}" />
    <meta property="og:type" content="profile" />
    <meta property="og:image" content="https://andwati.com/self.png" />
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:site" content="@andwati_" />
    <meta property="twitter:title" content="{{ section.title }}" />
    <meta property="twitter:description" content="{{ section.description }}" />
    <meta property="twitter:image" content="https://andwati.com/self.png" />
{% endblock meta %}
{% block content %}
    <main id="content">
        <header>
            <h1>{{ section.title }}</h1>
        </header>
        <h1>Thank You</h1>
        <p>
            It's great to have you on board. Check your email to confirm your subscription.
            <br />
            Have a nice day!
        </p>
    </main>
    {% include "footer.html" %}
{% endblock content %}
